
<div class="account-container">
    <div class="form-content clearfix">

        <form action="./" method="post">
            <h1><i class="iconbig-note-write"></i> Sign Up</h1>

            <div class="login-fields">

                <p>Sign up manually:</p>

                <div class="field">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" required="" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="" placeholder="Email" class="login email-field" required="" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field" required="" />
                </div> <!-- /password -->
            </div> <!-- /login-fields -->
            <div class="login-actions">
                <input type="submit" name="submit" value="Sign up" class="btn-signin btn btn-primary" />

                <a href="#" class="btn-signin btn">Cancel</a>
            </div> <!-- .actions -->

            <div class="login-social marg10-btm">
                <p>Sign up using social network:</p>
                <a href="#" class="btn"><img src="Content/img/twitter-18.png" /> Signup with twitter</a>
                <a href="#" class="btn"><img src="Content/img/facebook-18.png" /> Signup with facebook</a>
            </div>
        </form>

    </div> <!-- /form-content -->
</div> <!-- /account-container -->
